/*
 * DarkenTS style for Better Chat plugin (https://github.com/Luch00/LxBTSC - https://www.myteamspeak.com/addons/d2f7aeb3-1f69-431d-9f7b-a2b1901aa2da)
*/

/* ---- Better Chat messages ---- */

.TextMessage_Time, .avatar-style.TextMessage_Time {
	color: rgb(149,165,166) !important;
	font-weight: normal;
}

.TextMessage_BeginHistory, .TextMessage_EndHistory {
	color: rgb(149,165,166) !important;
	font-style: italic;
}

.TextMessage_UserLink {
	color: rgb(23,151,81) !important;
	font-weight: bold;
	text-decoration: none;
}

.TextMessage_OfflineLink, .TextMessage_ChannelLink {
	color: rgb(230,126,34) !important;
	font-weight: bold;
	text-decoration: none;
}

.TextMessage_HostName, .TextMessage_ServerLink {
	color: rgb(249,101,93) !important;
	font-weight: bold;
}

.TextMessage_Welcome, .TextMessage_HostMessage {
	color: rgb(216,216,216) !important;
	font-weight: bold;
}

.TextMessage_Message, .TextMessage_Poke, .TextMessage_Normal, .TextMessage_Connected, .TextMessage_ClientConnected, .TextMessage_ClientJoined, .TextMessage_Disconnected, .TextMessage_ClientDisconnected, .TextMessage_ClientSwitched, .TextMessage_ClientLeft, .TextMessage_ClientDropped, .TextMessage_ClientKicked, .TextMessage_ClientBanned, .TextMessage_ChannelCreated, .TextMessage_ChannelDeleted, .TextMessage_ChannelEdited, .TextMessage_ChannelMoved, .TextMessage_ServerEdited {
	color: rgb(216,216,216) !important;
}

.TextMessage_GroupAssigned, .TextMessage_GroupRevoked, .TextMessage_TalkPowerAssigned, .TextMessage_TalkPowerRevoked, .TextMessage_TalkPowerRequested {
	color: rgb(216,216,216) !important;
	font-weight: bold;
}

.TextMessage_ServerError {
	color: rgb(203,59,59) !important;
	font-weight: bold;
}

/* ---- Better Chat UI ---- */

body {
	font-size: 10pt;
	font-family: "Segoe UI", Arial, sans-serif !important;
	background-color: rgb(29,29,29) !important;
}

a {
	color: rgb(57,165,221) !important;
	text-decoration: none;
}

img.Incoming {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><path d="M112.89 67.46L70 110.42a8.76 8.76 0 0 1-6 2.44 8.48 8.48 0 0 1-5.93-2.44l-42.89-43a8.27 8.27 0 0 1-2.5-5.93 8.54 8.54 0 0 1 2.5-6l4.88-4.94a8.76 8.76 0 0 1 6-2.44A8.48 8.48 0 0 1 32 50.59L51.35 70V23.58a8.49 8.49 0 0 1 8.43-8.43h8.43a8.49 8.49 0 0 1 8.43 8.43V70L96 50.59a8.48 8.48 0 0 1 6-2.44 8.76 8.76 0 0 1 6 2.44l4.94 4.94a8.77 8.77 0 0 1 2.44 6 8.49 8.49 0 0 1-2.49 5.93z" fill="#d8d8d8"/></svg>') !important;
	width: 18px !important;
	height: 18px !important;
}

img.Outgoing {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><path d="M15.11 60.54L58 17.58a8.76 8.76 0 0 1 6-2.44 8.48 8.48 0 0 1 5.93 2.44l42.89 43a8.27 8.27 0 0 1 2.5 5.93 8.54 8.54 0 0 1-2.5 6l-4.88 4.94a8.76 8.76 0 0 1-6 2.44A8.48 8.48 0 0 1 96 77.41L76.65 58v46.38a8.49 8.49 0 0 1-8.43 8.43h-8.44a8.49 8.49 0 0 1-8.43-8.43V58L32 77.41a8.48 8.48 0 0 1-6 2.44 8.76 8.76 0 0 1-6-2.44l-4.94-4.94a8.76 8.76 0 0 1-2.44-6 8.49 8.49 0 0 1 2.49-5.93z" fill="#d8d8d8"/></svg>') !important;
	width: 18px !important;
	height: 18px !important;
}

/*img.Info {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><path d="M64 128a64 64 0 1 1 64-64 64 64 0 0 1-64 64zm21.33-37.33A2.63 2.63 0 0 0 82.67 88h-8V45.33A2.63 2.63 0 0 0 72 42.67H45.33a2.63 2.63 0 0 0-2.67 2.67v13.33a2.63 2.63 0 0 0 2.67 2.67h8V88h-8a2.63 2.63 0 0 0-2.67 2.67V104a2.63 2.63 0 0 0 2.67 2.67h37.34a2.63 2.63 0 0 0 2.66-2.67zM74.67 16A2.63 2.63 0 0 0 72 13.33H56A2.63 2.63 0 0 0 53.33 16v13.33A2.63 2.63 0 0 0 56 32h16a2.63 2.63 0 0 0 2.67-2.67z" fill="#d8d8d8"/></svg>');
	width: 18px;
	height: 18px;
}*/

.avatar-container {
	border-radius: 0 !important;
	border: none !important;
	background-color: rgb(62,79,94) !important;
}

.embed-container, .tweet-container, .generic-og-embed {
	background-color: rgb(43,43,43) !important;
	color: rgb(216,216,216);
}

.emote-menu {
	background-color: rgb(29,29,29) !important;
	color: rgb(216,216,216);
}

.emote-container > .emote:hover {
    background-color: rgb(62,79,94);
}

.set-header {
	font-size: 10pt !important;
	border-top: 1px solid rgb(85,85,85);
}

.twitter-description, .embed-og-description {
	background: transparent;
}

.close-embeds:hover {
	background-color: rgb(85,85,85) !important;
}

.tooltipper {
	border: 1px solid rgb(46,46,46);
	border-radius: 0 !important;
	background-color: rgb(46,46,46) !important;
	color: rgb(216,216,216) !important;
}

::-webkit-scrollbar {
	width: 16px !important; /*smaller than original to line up with potential InfoFrame scrollbar */
}

::-webkit-scrollbar-track {
	background-color: rgb(46,46,46) !important;	
	border: 1px solid rgb(29,29,29);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(102,102,102) !important;
	border: 1px solid rgb(29,29,29);
}

::-webkit-scrollbar-thumb:hover, .emote-menu::-webkit-scrollbar-thumb:hover {
	background-color: rgb(136,136,136) !important;
}

.emote-menu::-webkit-scrollbar-track {
	border: none;
	background-color: rgb(46,46,46) !important;
}

 .emote-menu::-webkit-scrollbar-thumb {
 	border: none;
 	background-color: rgb(102,102,102) !important;
 }

#popup {
	-webkit-box-shadow:  0px 0px 0px 9999px rgba(46,46,46,0.9) !important;
	box-shadow:  0px 0px 0px 9999px rgba(46,46,46,0.9) !important;
}